*{
    box-sizing: border-box;
}

@media only screen and (max-width: 1100px){
	body{
        padding: 0px 40px;
    }
}

body{
    background: #120E14;
    color: #FFB0C0;
    font-family: "Fira Mono", monospace;
    font-size: 16px;
    line-height: 1.25em;
    margin: 0 auto;
    margin-bottom: 0px;
    margin-bottom: 120px;
    max-width: 550px;
}

a{
    text-decoration: none;
    color: #FFB0C0;
}

h2,h3{
    font-size: 16px;
    line-height: 1.25em;
    text-transform: uppercase;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
}

p{
    margin: 20px 0px;
    padding: 0px;
    
}

blockquote{
    margin-left: -20px;
    padding-left: 20px;
    border-left: 1px solid #FFB0C0;
}

img{
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 4px;
}

header{
    margin: 140px 0px 60px;
    text-transform: uppercase;
}

nav{
    margin-top: 20px;
}

header nav svg {
    fill: #FFB0C0;
    width: 14px;
}